h1{
    color:white;
}
body{
    background-image: url("Gengar.png");
    color: white;
}

.pornombre{
    color:white;
    background-color: black;

}
.porId{
    color:white;
    background-color: black;
}
.loc{
	color:white;
	background-color: black;
}
.menu{
    color:white;
    background-color: black;
}